---
- name: Template sysctl settings for TProxy
  template:
    src: sysctl.conf.j2
    dest: /etc/sysctl.d/99-tproxy.conf
    owner: root
    group: root
    mode: '0644'
  notify: Apply sysctl

- name: Template TProxy routing rules
  template:
    src: tproxy-rules.sh.j2
    dest: /etc/network/if-up.d/tproxy
    owner: root
    group: root
    mode: '0755'

- name: Apply TProxy rules immediately
  command: /etc/network/if-up.d/tproxy
  changed_when: false
