---
- name: Template HAProxy config
  template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: '0644'
  notify: Reload HAProxy gracefully

- name: Enable and start HAProxy service
  systemd:
    name: haproxy
    enabled: yes
    state: started
    daemon_reload: yes
