---
- name: Create HAProxy systemd override directory
  ansible.builtin.file:
    path: /etc/systemd/system/haproxy.service.d
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Deploy HAProxy systemd override for TPROXY capabilities
  ansible.builtin.template:
    src: haproxy-systemd-override.conf.j2
    dest: /etc/systemd/system/haproxy.service.d/override.conf
    owner: root
    group: root
    mode: "0644"
  notify:
    - Reload systemd daemon
    - Restart HAProxy

- name: Template HAProxy config
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: "0644"
    validate: "haproxy -c -f %s"
  notify: Reload HAProxy gracefully

- name: Enable and start HAProxy service
  ansible.builtin.systemd:
    name: haproxy
    enabled: true
    state: started
    daemon_reload: true
