---
- name: Launch MTProxy containers ({{ mtproxy_replicas }} replicas)
  docker_container:
    name: "mtproxy{{ item }}"
    image: "{{ mtproxy_image }}"
    platform: linux/amd64
    state: started
    restart_policy: unless-stopped
    ports:
      - "{{ mtproxy_base_port + item - 1 }}:443"
    env:
      SECRET: "{{ mtproxy_secret }}"
  loop: "{{ range(1, (mtproxy_replicas | int) + 1) | list }}"
