# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Vagrant
.vagrant/
*.box

# Ansible temporary
*.retry
.cache/

# Logs
*.log

# Secrets (если вдруг появятся)
*.pem
*.key
