#!/bin/sh
# Add rule and route table (idempotent)
ip rule add fwmark 1 lookup 100 2>/dev/null || true
ip route add local 0.0.0.0/0 dev lo table 100 2>/dev/null || true

# Clear and add TPROXY rule
iptables -t mangle -F
iptables -t mangle -A PREROUTING -p tcp --dport {{ haproxy_port }} -j TPROXY --tproxy-mark 0x1/0x1 --on-port {{ haproxy_port }} --on-ip 0.0.0.0
